html,
body {
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}
#root {
  width: 100%;
  height: 100%;

  background-size: cover;
}
.left-diagonal {
  position: absolute;
  left: 0;
  width: 30vw;
  height: 50vh;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><line x1="0" y1="100%" x2="100%" y2="0" stroke="black" /></svg>');
  z-index: 0;
}
.right-diagonal {
  position: absolute;
  right: 0;
  width: 50vw;
  height: 60vh;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><line x1="0" y1="0" x2="100%" y2="100%" stroke="black" /></svg>');
  z-index: 0;
}
.rootTest {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../pages/waterback.png");
  background-size: cover;
  overflow: hidden;

  /* background-position: bottom; */
}
